/* Declaracion de variables para el theme del sistema */
:root {
  --primary: #795548;
  --dark-primary: #4b2c20;
  --light-primary: #a98274;
  --secondary: #ff9800;
  --dark-secondary: #c66900;
  --light-secondary: #ffc947;
  --gray: #757575;
  --error: #ca3a41;
  --success: #00600f;
  --white: #FFF;
  --black: #000;
  --height: calc(100vh - 56px);
  --width: 100vw;
  --container: 95%;
  --fontFamily: "Roboto";
}
/* :root {
  --primary: #9c27b0;
  --dark-primary: #6a0080;
  --light-primary: #d05ce3;
  --secondary: #e91e63;
  --dark-secondary: #b0003a;
  --light-secondary: #ff6090;
  --gray: #757575;
  --error: #ca3a41;
  --success: #00600f;
  --white: #FFF;
  --black: #000;
  --height: calc(100vh - 56px);
  --width: 100vw;
  --container: 95%;
  --fontFamily: "Roboto";
} */

body, html {
  font-family: var(--fontFamily);
}

.box-shadow-none {
  box-shadow: none;
}

#main {
  height: var(--height);
}

/* Container */
#main .index {
  background: var(--dark-primary);
  height: var(--height);
}

#main .card-wide {
  width: var(--width);
}
.svg--container {
  position: relative;
}
.svg--container .svg-top {
  position: absolute;
  top: 0;
  background: transparent;
}
.svg--container .svg-bottom {
  position: absolute;
  bottom: 0;
  background: transparent;
}
.svg--container .computer {
  height: 210px;
  background: var(--dark-primary) url('../images/computer.jpg');
  background-position: bottom;
  background-size: cover;
  object-fit: cover;
  color: var(--white);
}

/*index.html*/
.page--initial {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  user-select: none;
  opacity: .87;
  color: var(--gray);
  font-size: 1rem;
  line-height: 18px;
  font-weight: 400;
}
.page--initial i{
  font-size: 4rem;
  color: var(--white);
  min-width: 70px;
  padding: 10px;
  text-align: center;
}
.page--initial .description {
  color: var(--white);
  border-radius: 7px;
  /* border: 1px solid rgba(208, 92, 227, .5); */
  border: 1px solid rgba(255, 201, 71, .5);
  margin: 10px 10px;
  padding: 10px;
  width: calc(var(--width) - 20px);
}

/* Configuraciones */
.error {
  background: var(--error);
}
.success {
  background: var(--success);
}
.dark-primary {
  color: var(--dark-primary);
}
.dark-secondary {
  color: var(--dark-secondary);
}

.select-none {
  user-select: none;
}

.card-wide.mdl-card {
  width: 100%;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  object-fit: cover;
  background: url('../images/pwa.jpg') center / cover;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}

#modal-post-section {
  display: none;
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  bottom: 0;
  top: 56px;
  background: white;
  text-align: center;
  display: none;
  transform: translateY(100vh);
  transition: transform .5s;
}

.main-image {
  max-width: 100%;
  margin: auto;
  display: block;
}

.input-section {
  display: block;
  margin: 10px auto;
}


@media screen and (min-width: 1px) and (max-width: 600px) {
  #btn-post-submit {
    width: 200px;
  }
  #btn-post-cancel {
    width: 200px;
  }
}

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.mdl-snackbar {
  z-index: 1002;
}
#loading {
  display: none;
}
.loading {
  position: fixed;
  z-index: 1010;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, .8);
}
.app--install {
  background: var(--primary);
  color: var(--white) !important;
  display: flex;
  flex-direction: row;
}
.app--install:hover {
  background: var(--primary) !important;
}
.app--install div:first-child {
  text-align: left;
  font-size: 12px;
  padding: 5px 0 8px 5px;
}
.app--install div:last-child {
  border: 1px solid rgba(255, 255, 255, .5); 
  border-radius: 4px;
  float: right;
  padding: 5px 8px;
}

.text-center {
  text-align: center;
}