:root {
  --primary: #9c27b0;
  --secondary: #e91e63;
  --error: #ca3a41;
  --success: #00600f;
  --white: #FFF;
}

.mdl-snackbar {
  z-index: 1002;
}
.error {
  background: var(--error);
}
.success {
  background: var(--success);
}
#loading {
  display: none;
}
.loading {
  position: fixed;
  z-index: 1010;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, .8);
}

.app--install {
  background: var(--primary);
  color: var(--white) !important;
  display: flex;
  flex-direction: row;
}
.app--install:hover {
  background: var(--primary) !important;
}
.app--install div:first-child {
  text-align: left;
  font-size: 12px;
  padding: 5px 0 8px 5px;
}
.app--install div:last-child {
  border: 1px solid rgba(255, 255, 255, .5); 
  border-radius: 4px;
  float: right;
  padding: 5px 8px;
}

.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}