#modal-post-section {
  display: none;
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  bottom: 0;
  top: 56px;
  background: white;
  text-align: center;
  display: none;
  transform: translateY(100vh);
  transition: transform .5s;
}

.main-image {
  max-width: 100%;
  margin: auto;
  display: block;
}

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.input-section {
  display: block;
  margin: 10px auto;
}

.card-wide.mdl-card {
  width: 100%;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  object-fit: cover;
  background: url('../images/pwa.jpg') center / cover;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}

@media screen and (min-width: 1px) and (max-width: 600px) {
  #btn-post-submit {
    width: 200px;
  }
  #btn-post-cancel {
    width: 200px;
  }
}